// sass --watch ./styles/sass:./styles/css

@import "materialize/materialize.scss"

// Variables
$font-default-color: #5F6368 !default
$background-color: #F6F7F8 !default
$border-radius: 10px
$blue-color: #4085E1 !default

span.select2
  font-size: 13px

body
  color: $font-default-color

.grey-font
  color: $font-default-color

[type="checkbox"].filled-in
  &:checked + span:after
    border-color: $blue-color !important
    background-color: $blue-color !important

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea

  &.valid,
  &:focus.valid
    border-bottom: 1px solid $blue-color
    box-shadow: 0 1px 0 0 $blue-color

  &:focus.valid ~ label
    color: $blue-color

  &:focus:not([readonly])
    border-bottom: 1px solid $blue-color


  &:focus:not([readonly]) + label
    color: $blue-color

.select-wrapper
  input.select-dropdown
    &:focus
      border-bottom: 1px solid $blue-color

  &.valid
    & > input.select-dropdown
      box-shadow: 0 1px 0 0 $blue-color
      border-bottom: 1px solid $blue-color !important

.base-background
  background-color: $background-color

.no-shadow
  box-shadow: none

.overflow-hidden
  overflow: hidden

.container
  width: 90%

section.header
  background-image: linear-gradient(to left, #0C9BD6 26%, rgba(8, 114, 189, 0.87) 47%)
  height: 140px
  display: flex

  .clock-and-name, .ticket-statistic
    display: flex
    flex-direction: column
    justify-content: center

  .clock-and-name
    flex: 1

    .name-date
      float: left

    .date
      font-size: 12px


    .clock
      float: left
      margin: 0 15px 0 50px

      span
        display: block
        text-align: left

  .vertical-line:after
    content: " "
    //margin: 0 -15px
    position: absolute
    top: 100px
    height: 70px
    bottom: 0
    width: 1px
    background: white
    left: 78%

  .ticket-statistic
    flex: 1

    div
      span
        display: block
        text-align: center

    .your-tickets
      position: absolute
      left: 70%
      top: 115px
      width: 100px
      text-align: center

    .all-tickets
      position: absolute
      left: 80%
      top: 115px
      width: 100px
      text-align: center

section.content
  //width: 100%
  height: 100%
  padding: 50px 0 50px 0

  .elements
    margin: 0 auto

  .ticket-element
    margin: 0 50px 25px 50px
    border-radius: $border-radius

    a
      max-height: 60px

#customerdetail
  margin: 0 50px 0 50px
  overflow: hidden
  border-radius: $border-radius

  .row.left
    text-align: center
    margin: 50px 0 0 50px
    width: 200px

    #company
      text-align: initial

    #profile
      font-size: 7em

  .row.right
    margin: 50px 125px 0 0
    width: 700px

    .permissions
      .create-ticket, .answer-ticket
        width: 30%
        margin-top: 0

    .submit-buttons
      margin-top: 50px

      .submit, .cancel
        width: 25%

#customers
  margin: 0 50px 0 50px
  overflow: hidden

  .elements
    border-radius: $border-radius

  #profile
    font-size: 3em

  .row
    display: flex
    margin-bottom: 0
    margin-top: 25px


    .col
      margin: auto
      padding-top: 10px
      padding-bottom: 10px


      &.contact
        display: block

      &.company
        #company-icon
          position: relative
          top: -5px

        .wrapper
          display: inline-block

#ticketdetail
  .row
    margin-left: 15px
    margin-right: 15px

    .col.left
      margin-left: 20px
      border-radius: $border-radius
      padding: 25px
      font-size: 13px !important

    .col.right
      margin-right: 20px
      border-radius: $border-radius


    .metadata
      .col-content
        margin: 20px 10px

      .customer
        //margin-top: 25px
        margin-bottom: 25px

      .company
        margin-top: 25px
        padding-bottom: 25px
        border-bottom-width: 1px
        border-bottom-style: solid

        i
          margin-left: 3px

        .label
          display: inline-block
          position: relative
          top: -6px
          left: 15px
          font-size: 13px

      .agent
        //border-bottom-width: 1px
        //border-bottom-style: solid
        margin-top: 25px
        padding-bottom: 25px

        i
          margin-top: 15px

        label
          display: inherit
          position: relative
          top: -10px
          font-size: 0.75rem

      .status,
      .priority,
      .source,
      .type
        margin-top: 25px
        margin-bottom: 25px

        span
          margin-left: 0

        label
          display: inherit
          position: relative
          top: -10px
          font-size: 0.75rem

      .source,
      .type
        > span
          width: 75% !important

      .status,
      .priority
        > span
          width: 75% !important

      .tags
        label
          display: inherit
          position: relative
          top: -10px
          font-size: 0.75rem
          margin-left: 0

        i
          margin-top: 20px
          font-size: 20px

        span.select2
          font-size: 11px
          margin-left: 0
          ul
            li
              padding: 2px 10px

              &.select2-search--inline
                height: 25px !important

                input
                  height: 25px !important

    &.ticket
      .col.left
        margin-left: 20px
        border-radius: $border-radius
        padding: 25px
        font-size: 13px !important

      .subject-and-date
        overflow: hidden

        .subject
          font-size: 16px
          font-weight: 400
          font-style: normal
          color: $blue-color

        .date
          font-weight: 300

      .mail-receiver
        clear: both
        margin: 10px 0 20px 0
        font-size: 12px
        font-weight: 300
      //font-style: italic

      .message
        font-size: 13px

    &.ticket-item
      margin-top: 40px

      .col.left
        padding: 15px 25px

      .header
        display: flex

        .mail-receiver
          width: 60%
          margin: auto 0
          font-size: 12px
          font-weight: 300
        //font-style: italic

        .ticket-item-type
          //width: 15%
          margin: auto 0
          border-left-style: solid
          border-right-style: solid
          height: 50px
          border-color: lightgrey
          border-width: 1px

          i
            font-size: 30px
            margin-top: 10px
            margin-left: 30px
            margin-right: 30px

        .answered-from-agent
          margin: auto auto
          font-weight: 300

          .agent
            i
              position: absolute
              margin-right: 30px
              font-size: 22px

            .agent-name
              margin-left: 30px
              padding-top: 1px

          .date
            margin-top: 5px

      .bottom-line
        border-bottom: solid 1px lightgrey
        margin-left: -25px
        margin-right: -25px
        padding-top: 10px

      .message
        font-size: 13px
        margin-top: 15px



